* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

html {
        scroll-behavior: smooth;
        font-family: Arial, Helvetica, sans-serih;
}

#main {
        overflow: hidden;
}

.col-third {
        width: calc(100/3);
}

/*-----------------Header---------------*/

#header {
        width: auto;
        height: auto;
        background-color: aliceblue;
}

#nav {
        margin-left: 350px;
        margin-right: 300px;
}

#nav>li {
        display: inline-block;
}

#nav,
.subnav {
        list-style-type: none;

}

#nav li {
        padding: 10px;


}

#nav a {
        text-decoration: none;
}

#nav_2 h1 {
        text-align: center;
}